<div nz-row>
    <div nz-col nzSpan="11">
        <div nz-row class="mb-2">
            <div nz-col nzSpan="18">
                <input nz-input placeholder="任务名称" #taskInput>
            </div>
            <div nz-col nzSpan="1">
            </div>
            <div nz-col nzSpan="5">
                <button nz-button nzType="primary" (click)="addTask(taskInput.value)">确定</button>
            </div>
        </div>
        <nz-list [nzDataSource]="tasks" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
            <ng-template #item let-item>
                <nz-list-item [nzContent]="nzContent">
                    <ng-template #nzContent>
                        <div (click)="openTask(item)">{{item.name}}</div>
                    </ng-template>
                </nz-list-item>
            </ng-template>
        </nz-list>
    </div>
    <div nz-col nzSpan="2">
    </div>
    <div nz-col nzSpan="11">
        <div nz-row class="mb-2">
            <div nz-col nzSpan="10">
            </div>
            <div nz-col nzSpan="14">
                <button nz-button nzType="primary" class="mr-1">开始迭代</button>
                <button nz-button nzType="default">结束迭代</button>
            </div>
        </div>
        <nz-list [nzDataSource]="tasks" [nzRenderItem]="item1" [nzItemLayout]="'horizontal'">
            <ng-template #item1 let-item>
                <nz-list-item [nzContent]="nzContent1">
                    <ng-template #nzContent1>
                        <div (click)="openTask(item)">{{item.name}}</div>
                    </ng-template>
                </nz-list-item>
            </ng-template>
        </nz-list>
    </div>
</div>