<div class="task-designer-body">
    <div class="task-designer-fields">

        <app-field-form [fields]="fieldItems"></app-field-form>

        <div class="field-title">可选控件</div>
        <ul class="field-list" [sortablejs]="fields" [sortablejsOptions]="fieldSortOptions" [sortablejsCloneFunction]="cloneFieldItem">
            <li class=field-item *ngFor="let item of fields;">{{item.name}}</li>
        </ul>
    </div>
    <div class="task-designer-properties">
        <div class="property-title">可选控件</div>
        <div class="property-body" [sortablejs]="properties" [sortablejsOptions]="propertySortOptions">
            <app-project-task-field *ngFor="let item of properties;" [field]="item"></app-project-task-field>
        </div>
    </div>
</div>