.task-designer-body {
  height: 100%;
  display: flex;
  padding: 10px;
  .task-designer-fields {
    width: 30%;
    margin-right: 10px;
    border: 1px solid rgb(214, 211, 211);
    .field-title {
      padding: 10px;
      margin-bottom: 15px;
      color: #333;
      font-size: 16px;
      border-bottom: 1px solid rgb(214, 211, 211);
    }
    .field-list {
      padding: 15px 10px;
      list-style: none;
      color: rgb(122, 122, 122);
      font-size: 12px;
      .field-item {
        width: 100%;
        padding: 5px 10px;
        background-color: #f8f8f8;
        border: 1px solid #ececec;
        margin-bottom: 10px;
        cursor: pointer;
      }
    }
  }
  .task-designer-properties {
    flex: 1;
    border: 1px solid rgb(214, 211, 211);
    color: rgb(122, 122, 122);
    .property-title {
      padding: 10px;
      margin-bottom: 15px;
      color: #333;
      font-size: 16px;
      border-bottom: 1px solid rgb(214, 211, 211);
    }
    .property-body {
      height: 100%;
    }
    .property-item {
      bottom: 1px solid #ccc;
      padding: 10px 10px;
      display: flex;
      align-items: center;
      .property-item-title {
        width: 100px;
        padding: 0 10px;
        text-align: right;
      }
      .property-item-control {
        flex: 1;
      }
    }
  }
}