<ul nz-menu [nzMode]="'inline'" style="height:100%">
    <li nz-submenu>
        <span title>
            <i class="anticon anticon-team"></i>收藏群组</span>
        <ul>
            <li nz-menu-item>讨论组001</li>
            <li nz-menu-item>讨论组002</li>
            <li nz-menu-item>讨论组003</li>
            <li nz-menu-item>讨论组003</li>
        </ul>
    </li>
    <li nz-menu-item [routerLink]="['./chat']">
        <span title>
            <i class="anticon anticon-user"></i>张三</span>
    </li>
    <li nz-menu-item [routerLink]="['./chat']">
        <span title>
            <i class="anticon anticon-user"></i>王五</span>
    </li>
    <li nz-menu-item [routerLink]="['./chat']">
        <span title>
            <i class="anticon anticon-user"></i>李四</span>
    </li>
</ul>